@font-face {
  font-display: swap;
  font-family: "Roboto flex";
  // font-weight: 400;
  src: url("./../assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf")
    format("truetype");
}
