.benefits-minimal {
}

.benefits-minimal-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.benefits-minimal__item {
  max-width: 255px;
}

.benefits-minimal__item__title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: var(--black-2);
}

.benefits-minimal__item__descr {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--gray-3);
}
