.faq {
  padding-top: 52px;
}

.faq-wrapper {
  padding: 32px 24px;
}

.faq__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--black-2);
}

.faq__accordion-item {
  border-bottom: 1px solid var(--light);
  overflow: hidden;

  &:last-child {
    border: none;
  }
}

.faq__accordion-header {
  padding: 24px 0;
  background-color: #ffffff;
  width: 100%;
  cursor: pointer;
  position: relative;
  list-style: none;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: var(--black-2);

  &::-webkit-details-marker {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    background: url("./../assets/img/icons/chevron-down.svg") center center/cover no-repeat;
  }
}

.faq__accordion-content_opened .faq__accordion-header::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq__accordion-content {
  background-color: #fff;
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--gray-2);

  & p {
    margin-bottom: 24px;
  }
}
