.header-top {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
  background-color: var(--black);
}

.header-top-container {
  display: flex;
  justify-content: space-between;
}

.header-top__left-items {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: var(--light);

  & span {
    color: var(--gray-3);
    opacity: 0.99;
  }
}

.header-top__right-items {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.header-top__right-item-link {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: var(--gray-3);
}

.header-top__right-item-link_phone {
  margin-left: 12px;
  color: #ffffff;
}

.header-bottom {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 #616161;
}

.header-bottom__logo {
  width: 166px;
  height: 42px;

  & img {
    width: 100%;
    height: 100%;
  }
}
